/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

.animateNav {
  animation: menuAnimate 4s ease-in-out 3s;
}

.navBurger {
  position: fixed;
  left: 40px;
  top: 40px;
  cursor: pointer;
  background: #3A649E;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: content-box;
  width: 50px;
  height: 8px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
      transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;

  z-index: 1000;
  &:before,
  &:after {
    content: "";
    position: absolute;
    background: #3A649E;
    height: 8px;
    width: 100%;
    left: 0;
    will-change: rotate;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
  }
  &:before {
    top: -10px;
    width: 110%;
  }
  &:after {
    bottom: -10px;
    width: 90%;
  }
  &.active {
    background: transparent;
    background-clip: content-box;
  }
  &.active:before {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
        transform: rotate(135deg);
    top: 0;
    background: #eee;
    width: 110%;
  }
  &.active:after {
    bottom: 0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
        transform: rotate(-135deg);
    background: #eee;
    width: 110%;
  }
}

@keyframes menuAnimate {
  0% {
    top: 40px;
  }
  10% {
    top: 30px;
  }
  20% {
    top: 40px;
  }
  30% {
    top: 30px;
  }
  40% {
    top: 40px;
  }
  50% {
    top: 30px;
  }
  60% {
    top: 40px;
  }
  70% {
    top: 30px;
  }
  80% {
    top: 40px;
  }
  90% {
    top: 30px;
  }
  100% {
    top: 40px;
  }
}

.overlay {
  position: fixed;
  background: #2a3140;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform-origin: right top;
      -ms-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  visibility: hidden;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
  z-index: 999;
  &.open {
    opacity: 0.75;
    visibility: visible;
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
    li {
      display: block;
      -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
              animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s;
      -webkit-transform: rotate(-7deg);
          -ms-transform: rotate(-7deg);
              transform: rotate(-7deg);
      -webkit-transform-origin: right bottom;
          -ms-transform-origin: right bottom;
              transform-origin: right bottom;
      &:nth-of-type(2) {
        -webkit-animation-delay: 0.5s;
                animation-delay: 0.5s;
      }
      &:nth-of-type(3) {
        -webkit-animation-delay: 0.6s;
                animation-delay: 0.6s;
      }
      &:nth-of-type(4) {
        -webkit-animation-delay: 0.7s;
                animation-delay: 0.7s;
      }
      &:nth-of-type(5) {
        -webkit-animation-delay: 0.8s;
                animation-delay: 0.8s;
      }
    }
  }

  .img {
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
        -ms-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
    width: 220px;
    height: 180px;
    opacity: 0.2;
    background-image: url(../img/preview/gerb_gl.png);
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.overlayMenu {
  position: absolute;
  text-align: right;
  right: 10vw;
  bottom: 10vw;
  ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
    li {
      display: block;
      position: relative;
      opacity: 0;
      width: 100%;
      .menu_links {
        display: inline-block;
        border: 1px solid rgba(255, 255, 255, 0.09);
        color: #fff;
        text-decoration: none;
        font-size: 30px;
        padding: 10px 40px 10px 40px;
        margin: 5px 0;
        -webkit-transition: 0.2s;
        -o-transition: 0.2s;
        transition: 0.2s;
        background: #2a3140;
        &:hover,
        &:active,
        &:focus {
          -webkit-transform: translateX(-2px);
              -ms-transform: translateX(-2px);
                  transform: translateX(-2px);
          padding-left: 80px;
          border: 1px solid rgba(255, 255, 255, 1);
        }
      }
    }
  }
}

.locked {
  overflow: hidden;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}


@media screen and (min-width: 2560px) {
    .overlay {
      .overlayMenu {
        right: 5vw;
        ul {
          li {
            .menu_links {
              font-size: 60px;
            }
          }
        }
      }
    }
  }
  
  @media screen and (min-width: 3840px) {
    .overlay {
      .overlayMenu {
        right: 5vw;
        ul {
          li {
            .menu_links {
              font-size: 80px;
            }
          }
        }
      }
    }
  }

//Mobile
@media screen and (max-width: 768px) {
  .navBurger {
    top: 30px;
  }
  .overlay {
    .overlayMenu {
      right: 5vw;

      ul {
        li {
          .menu_links {
            font-size: 25px;
          }
        }
      }
    }
  }

  .navBurger {
    left: 20px;
  }

  @keyframes menuAnimate {
    0% {
      top: 30px;
    }
    10% {
      top: 20px;
    }
    20% {
      top: 30px;
    }
    30% {
      top: 20px;
    }
    40% {
      top: 30px;
    }
    50% {
      top: 20px;
    }
    60% {
      top: 30px;
    }
    70% {
      top: 20px;
    }
    80% {
      top: 30px;
    }
    90% {
      top: 20px;
    }
    100% {
      top: 30px;
    }
  }
}

@media screen and (max-width: 320px) {
  .navBurger {
    top: 30px;
  }
  .overlay {
    .overlayMenu {
      right: 5vw;

      ul {
        li {
          .menu_links {
            font-size: 20px;
          }
        }
      }
    }
  }
}
