body {
  margin: 0;
  font-size: 25px;
  color: #304054;
  font-family: "Roboto", sans-serif;
}

.preview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #2a3140;
  opacity: 0.75;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  z-index: 100;

  &_img {
    width: 240px;
    height: 180px;
    background-image: url(../img/preview/gerb_gl.png);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.8;
  }

  &_head {
    font-size: 40px;
    text-align: center;
  }

  &_link {
    padding: 10px 50px;
    color: #fff;
    border: 1px solid #fff;
    
  }

  a {
    text-decoration: none;
    font-size: 30px; 
  }
  
}

.slider {
  overflow: hidden;
  width: 100vw;
  height: 100vh;

  &__item {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
  }

  #_fst {
    background-image: url(../img/slider/slide1.png);
  }
  #_scnd {
    background-image: url(../img/slider/slide2.png);
  }
  #_thd {
    background-image: url(../img/slider/slide3.png);
  }
  #_frth {
    background-image: url(../img/slider/slide4.png);
  }
}

#rd_scene {
  width: 100vw;
  height: 100vh;
}

#train_scene {
  width: 100vw;
  height: 100vh;
}

@media screen and (min-width: 2560px) {
  .preview {
    &_img {
      width: 480px;
      height: 360px;
    }

    &_head {
      font-size: 65px;
    }

    a {
      font-size: 40px;
    }
  }
}

@media screen and (min-width: 3840px) {
  .preview {
    &_img {
      width: 720px;
      height: 540px;
    }

    &_head {
      font-size: 95px;
    }

    a {
      font-size: 65px;
    }
  }
}